.footer {
  padding: 30px 0;
  background-color: #f5f5f9;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
}

.footer__item {
  margin-right: 66px;

  &:last-child {
    margin-right: 0;
  }
}

.footer__link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}
