.images {
  width: 600px;
  margin-right: 54px;
  padding-top: 15px;
}

@media (max-width: 1200) {
  margin-right: 40px;
}

@media (max-width: 1023px) {
  .images {
    margin-right: 0;
    margin-bottom: 60px;
    width: 726px;
    padding-top: 0;
  }
}

@media (max-width: 767px) {
  .images {
    width: 288px;
    margin-bottom: 20px;
  }
}

.images__main {
  position: relative;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .images__main {
    margin-bottom: 0;
  }
}

.images__new {
  position: absolute;
  top: 0;
  left: 0;
  width: 122px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: #d12136;
  font-size: 10px;
  line-height: 14px;
  color: #ffffff;
  letter-spacing: 0.07em;
  font-weight: 600;
}
