.previews {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .previews {
    display: none;
  }
}

.previews__button {
  border: 1px solid #d7d9df;
  background-color: transparent;
  width: 52px;
  height: 52px;
  border-radius: 26px;
  background-repeat: no-repeat;

  &_left {
    background-image: url("../img/arrow-left.svg");
    background-position: center;
  }

  &_right {
    background-image: url("../img/arrow-right.svg");
    background-position: center;
  }

  &_disabled {
    opacity: 0.5;
  }
}

.previews__list {
  display: flex;
}

.previews__item {
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}
